@font-face {
     font-family: 'ambivalenti-tzar';
     src: url('font/ambivalenti-tzar/400/ambivalenti-tzar-aaa-400.woff') format('woff');
     font-weight: 400;
     font-style: normal;
 }

@font-face {
     font-family: 'ambivalenti-tzar';
     src: url('font/ambivalenti-tzar/700/ambivalenti-tzar-aaa-700.woff') format('woff');
     font-weight: 700;
     font-style: normal;
 }

 @font-face {
     font-family: 'almoni-neue';
     src: url('font/almoni-neue/700/almoni-neue-aaa-700.woff')format('woff');
     font-weight: 700;
     font-style: normal;
 }

h1 ,h2 ,h3 {
    font-family: 'ambivalenti-tzar';
    font-weight: 500;
}

 body {
     background:
     background-image: color: #fff;
     margin: 0;
     font-family: 'almoni-neue', sans-serif;
     line-height: 1.5;
     font-size: 20px;
 }

 img {
     max-width: 100%;
     width: auto;
     height: auto;
    padding:10px;
     
    
    
 }

     
.logo {
    max-width: 200px;
}

.banner {
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))
url("img/grapes.jpeg");
   margin: auto;
     background-position: center 40%;
     background-size: cover;
     height: 600px;
     text-align: center;
     padding: 50px 0;
    display: block;
    
}

.container {
    max-width: 980px;
    margin: auto;
    
}

a {
    color: #fff;
}

.banner.container {
    max-width: 600px;

}

.features {
    background: #fff;
    text-align: center;
    padding: 20px;
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;

}

.features img {
    max-width: 100px;
}

.features h2:after {
    margin: auto;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
}
footer a {
  color: #fff;
}