@font-face {
    font-family: 'ambivalenti-tzar';
    src: url('font/ambivalenti-tzar/400/ambivalenti-tzar-aaa-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ambivalenti-tzar';
    src: url('font/ambivalenti-tzar/700/ambivalenti-tzar-aaa-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'almoni-neue';
    src: url('font/almoni-neue/700/almoni-neue-aaa-700.woff')format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'almoni-neue';
    src: url('font/almoni-neue/300/almoni-neue-aaa-300.woff')format('woff');
    font-weight: 300;
    font-style: normal;
}


h1,
h2,
h3 {
    font-family: 'ambivalenti-tzar';
    font-weight: 500;
}

body {
    background:
        background-image: color: #fff;
    margin: 0;
    font-family: 'almoni-neue', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 20px;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 10px;
}


.logo {
    max-width: 150px;
}

.banner { 
     background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url("img/grapes.jpeg");
    margin: auto;
    background-position: center 40%;
    background-size: cover;
    height: 400px;
    text-align: center;
    padding: 50px 0;
    display: block;
}

.banner h1 {
    color: #fff;
    text-align: right;

    font-size: 50px
}

.banner p {
    color: #fff;
    font-size: 20px;
    text-align: right;
    padding-left: 420px
}

.container {
    max-width: 980px;
    margin: auto;

}

footer a {
    color: #fff;
}

.banner.container {
    max-width: 600px;

}

.features {
    background: #fff;
    text-align: center;
    padding: 20px;
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;

}

.features li {
    background-color: #401318;
}

.features img {
    max-width: 100px;
}

.features h3 {
    color: #fff;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
}

footer a {
    color: #fff;
}

header {
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #401318;
    margin: 0;
    padding: 15px;


}

nav a {
    color: #fff;
    text-decoration: none;
    transition: .3s;

}

nav a:hover {
    color: yellowgreen;
}

form {
    width: 350px;
    margin: auto;
    text-align: center;
}

input,
textarea {
    font: inherit;
    color: inherit;
    display: block;
    border: 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 200px;
}

label {
    margin-bottom: 20px;
    display: block;
}

input:focus,
textarea:focus {
    outline: 0;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
    background: #401318;

}

.button {
    transition: 0.3s;
    background: none;
    border: 2px solid #401318;
    color: #000;
    
}

.button:hover{
    background: #401318;
    color: #fff;
}

.current {
    border-bottom: #fff 2px solid;
}

nav li{
    margin:auto
}

.history {
    padding-top: 56px;
    padding-bottom: 56px;
    font-weight: 300;
}

input, textarea{
    font: inherit;
    color: inherit;
    border:  2px solid #401318;
    width: 100%;
    box-sizing: border-box;
    background: none;
    border-radius: 2px;
    transition: .3;
    margin: 0;
}

.contact {
    padding-bottom: 56px;
}
.contact h2{
    text-align: center;
    font-size: 36px;
    color: darkred;
    font-weight: 700;
}
